<!DOCTYPE html>
<html>
<head>
  <title>WELCOME TO RECIPE APP</title>
</head>
<body>
<h1>WELCOME TO RECIPE APP</h1>
<p>OK. You reach the default app page. Here you can navigate all the functionality of the app</p>
<p></p>
<h2>CLICK ONE OF FUNCTIONS BELOW:</h2>
<h3><a href="/recipes/new">Create A New Recipe</a> </h3>
<h3><a href="/recipes">View The List of Recipes</a> </h3>
<%#= yield %>
</body>
</html>