<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>NAME: <input type="text" name="name" id="recipe_name" value="<%= @recipe.name %>"></p>
  <p>INGREDIENTS: <input type="text" name="ingredients" id="recipe_ingredients" value="<%= @recipe.ingredients %>"></p>
  <p>COOK TIME: <input type="text" name="cook_time" id="recipe_cook_time" value="<%= @recipe.cook_time %>"></p>
  <input type="submit" id="submit" value="submit">
</form>