<h1>New Recipe</h1>

<form action="/recipes" method="post">
  <input name="recipe[name]" placeholder="name" />
  <input name="recipe[ingredients]" placeholder="ingredients" />
  <input name="recipe[cook_time]" placeholder="cook_time" />
  <button>Create</button>
</form>