<h2>Create a Recipe</h2>
<form action="/recipes" method="post">
  <input placeholder="name" name="name">
  <input placeholder="ingredients" name="ingredients">
  <input placeholder="cook time" name="cook_time">
  <button>Create</button>
  </form>