<form method="post" action="/recipes">
    <input name="name" placeholder="Recipe">
    <input name="ingredients" placeholder="Ingredients">
    <input name="cook_time" placeholder="Cook Time">
    <input type="submit" value="submit">
</form>